In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./appl.csv').drop(columns=['Date'])
df.head()

     Open    High     Low   Close      Volume
0  172.91  174.31  172.05  173.00  72,913,516
1  172.77  173.19  170.76  171.13  52,488,688
2  173.15  174.03  171.01  173.23  59,825,367
3  172.94  174.38  172.05  172.75  60,139,473
4  169.00  173.70  168.94  170.73  76,267,039

In [3]:
df.shape

(253, 5)

In [4]:
pd.date_range(start='7/1/2017', end='7/21/2017', freq='B')

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='B')

In [5]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

In [6]:
usb = CustomBusinessDay(calendar=USFederalHolidayCalendar())

In [7]:
rng = pd.date_range(start='3/14/2023', end='3/15/2024', freq=usb)

In [8]:
rng.shape

(253,)

In [9]:
df.set_index(rng, inplace=True)

In [10]:
from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday, Holiday

In [11]:
class BirthdayCalendar(AbstractHolidayCalendar):
    rules = [
        Holiday("Henrique's birthday", month=5, day=27, observance=nearest_workday)
    ]

In [12]:
hbc = CustomBusinessDay(calendar=BirthdayCalendar())

In [13]:
pd.date_range(start='5/1/2024', end='5/31/2024', freq=hbc)

DatetimeIndex(['2024-05-01', '2024-05-02', '2024-05-03', '2024-05-06',
               '2024-05-07', '2024-05-08', '2024-05-09', '2024-05-10',
               '2024-05-13', '2024-05-14', '2024-05-15', '2024-05-16',
               '2024-05-17', '2024-05-20', '2024-05-21', '2024-05-22',
               '2024-05-23', '2024-05-24', '2024-05-28', '2024-05-29',
               '2024-05-30', '2024-05-31'],
              dtype='datetime64[ns]', freq='C')

In [14]:
# Egypt's weekends are Friday and Saturday
ebd = CustomBusinessDay(weekmask='Sun Mon Tue Wed Thu', holidays=['2024-05-27'])
pd.date_range(start='5/1/2024', end='5/31/2024', freq=ebd)

DatetimeIndex(['2024-05-01', '2024-05-02', '2024-05-05', '2024-05-06',
               '2024-05-07', '2024-05-08', '2024-05-09', '2024-05-12',
               '2024-05-13', '2024-05-14', '2024-05-15', '2024-05-16',
               '2024-05-19', '2024-05-20', '2024-05-21', '2024-05-22',
               '2024-05-23', '2024-05-26', '2024-05-28', '2024-05-29',
               '2024-05-30'],
              dtype='datetime64[ns]', freq='C')