In [1]:
import pandas as pd

In [2]:
dates = ['2017-01-05', 'Jan 5, 2017', '01/05/2017', '2017.01.05', '2017/01/05', '20170105']

In [3]:
pd.to_datetime(dates)

DatetimeIndex(['2017-01-05', '2017-01-05', '2017-01-05', '2017-01-05',
               '2017-01-05', '2017-01-05'],
              dtype='datetime64[ns]', freq=None)

In [4]:
datetime = ['2017-01-05 2:30:00 PM', 'Jan 5, 2017 14:30:00']

In [5]:
pd.to_datetime(datetime)

DatetimeIndex(['2017-01-05 14:30:00', '2017-01-05 14:30:00'], dtype='datetime64[ns]', freq=None)

In [6]:
pd.to_datetime('5/1/2017') # US Format

Timestamp('2017-05-01 00:00:00')

In [7]:
pd.to_datetime('5/1/2017', dayfirst=True) # EU Format

Timestamp('2017-01-05 00:00:00')

In [8]:
pd.to_datetime('5$1$2017', format='%d$%m$%Y') # Custom Format

Timestamp('2017-01-05 00:00:00')

In [9]:
# By default, errors will be thrown by invalid datetimes

In [10]:
# Ignore will not convert to datetime when a string is invalid
pd.to_datetime(['2017-01-05', '1/5/2017', 'abc'], errors='ignore')

Index(['2017-01-05', '1/5/2017', 'abc'], dtype='object')

In [11]:
# Coerce will convert all to datetime and turn invalid strings into NaT
pd.to_datetime(['2017-01-05', '1/5/2017', 'abc'], errors='coerce')

DatetimeIndex(['2017-01-05', '2017-01-05', 'NaT'], dtype='datetime64[ns]', freq=None)

In [12]:
from time import time

In [13]:
# Convert Unix Timestamp to datetime
t = time()
pd.to_datetime(t, unit='s')

Timestamp('2024-03-29 21:02:18.357854464')

In [14]:
dt = pd.to_datetime([t], unit='s')

In [15]:
dt.view('int64') # Convert from datetime back to unix timestamp

array([1711746138357854366])