In [1]:
import pandas as pd

#### Yearly period

In [2]:
y = pd.Period('2016', 'A-DEC')
y

Period('2016', 'A-DEC')

In [3]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [4]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

#### Monthly period

In [5]:
m = pd.Period('2011-1', freq='M')
m

Period('2011-01', 'M')

In [6]:
m.start_time

Timestamp('2011-01-01 00:00:00')

In [7]:
m.end_time

Timestamp('2011-01-31 23:59:59.999999999')

##### Arithmetic operations

In [8]:
m + 1

Period('2011-02', 'M')

In [9]:
m - 5

Period('2010-08', 'M')

#### Dayly period

In [10]:
d = pd.Period('2017-02-28', freq='D')
d

Period('2017-02-28', 'D')

In [11]:
d + 1

Period('2017-03-01', 'D')

In [12]:
# It is aware of leap years

In [13]:
d = pd.Period('2016-02-28', freq='D')

In [14]:
d + 1

Period('2016-02-29', 'D')

#### Hourly period

In [15]:
h = pd.Period('2016-02-28 23:00:00', freq='H')
h

Period('2016-02-28 23:00', 'H')

In [16]:
h.start_time

Timestamp('2016-02-28 23:00:00')

In [17]:
h.end_time

Timestamp('2016-02-28 23:59:59.999999999')

In [18]:
h + 1

Period('2016-02-29 00:00', 'H')

In [19]:
h + pd.offsets.Hour(1)

Period('2016-02-29 00:00', 'H')

#### Quarterly period

In [20]:
q = pd.Period('2017Q1')
q

Period('2017Q1', 'Q-DEC')

In [21]:
q.start_time

Timestamp('2017-01-01 00:00:00')

In [22]:
q.end_time

Timestamp('2017-03-31 23:59:59.999999999')

In [23]:
q + 1

Period('2017Q2', 'Q-DEC')

##### Different quarterly periods

In [24]:
q = pd.Period('2017Q1', 'Q-JAN')
q

Period('2017Q1', 'Q-JAN')

In [25]:
q.start_time

Timestamp('2016-02-01 00:00:00')

In [26]:
q.end_time

Timestamp('2016-04-30 23:59:59.999999999')

In [27]:
new_q = q.asfreq('M', how='start')
new_q

Period('2016-02', 'M')

In [28]:
new_q.start_time

Timestamp('2016-02-01 00:00:00')

In [29]:
new_q.end_time

Timestamp('2016-02-29 23:59:59.999999999')

In [30]:
q2 = pd.Period('2018Q2', 'Q-JAN')
q2

Period('2018Q2', 'Q-JAN')

In [31]:
q2 - q

In [32]:
idx = pd.period_range('2011', periods=10, freq='Q-JAN')
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]')

In [33]:
idx[0].start_time

Timestamp('2010-11-01 00:00:00')

In [34]:
idx[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

#### Generate Series with random values and quarterly periods

In [35]:
import numpy as np

In [36]:
ps = pd.Series(np.random.randn(len(idx)), idx)
ps

2011Q4    0.558634
2012Q1    0.030815
2012Q2   -0.865092
2012Q3   -1.906897
2012Q4    0.159966
2013Q1   -0.665419
2013Q2    0.500202
2013Q3    1.050552
2013Q4    0.723910
2014Q1   -1.024578
Freq: Q-JAN, dtype: float64

In [37]:
ps.index

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]')

In [38]:
ps['2011']

2011Q4    0.558634
2012Q1    0.030815
2012Q2   -0.865092
2012Q3   -1.906897
2012Q4    0.159966
Freq: Q-JAN, dtype: float64

In [39]:
ps['2011' : '2013']

2011Q4    0.558634
2012Q1    0.030815
2012Q2   -0.865092
2012Q3   -1.906897
2012Q4    0.159966
2013Q1   -0.665419
2013Q2    0.500202
2013Q3    1.050552
2013Q4    0.723910
2014Q1   -1.024578
Freq: Q-JAN, dtype: float64

In [40]:
pst = ps.to_timestamp()
pst

2010-11-01    0.558634
2011-02-01    0.030815
2011-05-01   -0.865092
2011-08-01   -1.906897
2011-11-01    0.159966
2012-02-01   -0.665419
2012-05-01    0.500202
2012-08-01    1.050552
2012-11-01    0.723910
2013-02-01   -1.024578
Freq: QS-NOV, dtype: float64

In [41]:
pst.index

DatetimeIndex(['2010-11-01', '2011-02-01', '2011-05-01', '2011-08-01',
               '2011-11-01', '2012-02-01', '2012-05-01', '2012-08-01',
               '2012-11-01', '2013-02-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [42]:
pst.to_period()

2010Q4    0.558634
2011Q1    0.030815
2011Q2   -0.865092
2011Q3   -1.906897
2011Q4    0.159966
2012Q1   -0.665419
2012Q2    0.500202
2012Q3    1.050552
2012Q4    0.723910
2013Q1   -1.024578
Freq: Q-DEC, dtype: float64

#### Using periods to index Wallmart stocks

In [43]:
df = pd.read_excel('./wmt.xlsx')
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [44]:
df.set_index('Line Item', inplace=True)
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [45]:
# Transpose the Data Frame
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [46]:
df.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [47]:
df.index = pd.PeriodIndex(df.index, freq='Q-JAN')
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]')

In [48]:
df['start date'] = df.index.map(lambda x: x.start_time)
df

Line Item  Revenue  Expenses  Profit start date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [49]:
df['end date'] = df.index.map(lambda x: x.end_time)
df

Line Item  Revenue  Expenses  Profit start date                      end date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999